<div class="modal-header">
    <h4 class="modal-title" id="modal-login">{{header}}</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Catatan</label>
        <textarea [(ngModel)]="notes" type="text" class="form-control" ></textarea>
        <div *ngIf="notesEmpty == true" class="make-orange" >
          <div *ngIf="notesEmpty == true">Catatan Harus Diisi</div>
        </div> 
      </div>
      <br>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="process()">Proses</button>
  </div>