<div *ngIf="showTable">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-info" (click)="modalAdd()">
        Tambah Data
      </button>&nbsp;
      <button type="button" class="btn btn-success" (click)="ExportTOExcel()">
        Export Excel
      </button>
    </div><br>
    <div>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th class="text-dark font-medium fs-4" style="text-align:center">Aktivitas</th>
                <th class="text-dark font-medium fs-4" style="text-align:center">Bulan Ke-</th>
                <th class="text-dark font-medium fs-4" style="text-align:center">Pemeriksaan Selanjutnya</th>
                <th class="text-dark font-medium fs-4" style="text-align:center">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let list of checkUpMaster'>
                <td class="fs-4" style="text-align:center">{{list.description}}</td>
                <td class="fs-4" style="text-align:center">{{list.batch}}</td>
                <td class="fs-4" style="text-align:center">{{list.nextCheckUpDays}}</td>
                <td class="fs-4" style="text-align:center">
                  <label class="switch">  
                    <input type="checkbox" (click)="changeCheckBox($event,list)" [checked]="list.status == 'ACTIVE'">
                    <span class="slider"></span>
                  </label> &nbsp;
                  <button type="button" class="btn btn-info" (click)="modalEdit(list)">
                    <i class="bi bi-gear"></i></button>
                </td>
            </tr>              
        </tbody>
      </table>
    </div>
</div>