<div class="modal-header">
    <h4 class="modal-title" id="modal-register">Detail Vaksin</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width: 25%;">Tanggal Vaksin</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width: 25%;">Tanggal Expired</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width: 50%;">Catatan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fs-4" style="text-align:center">{{scheduleVaccine.vaccineDate}}</td>
                    <td class="fs-4" style="text-align:center">{{scheduleVaccine.expDate}}</td>
                    <td class="fs-4" style="text-align:center">{{scheduleVaccine.notes}}</td>
                </tr>              
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer" > 
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Tutup</button>&nbsp;   
</div>
