<div class="modal-header">
    <h4 class="modal-title">Log Activity</h4>
</div>
<div class="modal-body">
    <div *ngIf="showTable" class="table-responsive">
        <!-- <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" (click)="ExportTOExcel()">
            Export Excel
            </button>
        </div><br> -->
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4" style="text-align:center">Username</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center">Tanggal</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center">Aktivitas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let list of auditTrail'>
                    <td class="fs-4" style="text-align:center">{{list.username}}</td>
                    <td class="fs-4" style="text-align:center">{{list.date}}</td>
                    <td class="fs-4" style="text-align:center">{{list.activity}}</td>
                </tr>              
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer" >     
     <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Tutup</button>
</div>