<div class="modal-header">
    <h4 class="modal-title">Profile</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                  <label for="name">Username</label>
                </div>
                <div class="col-md-6">
                    <input value="{{username}}" class="form-control" [readOnly]=true>
                </div>
            </div>
        </div>
    </div><br>
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                  <label for="name">Tanggal Bergabung</label>
                </div>
                <div class="col-md-6">
                    <input value="{{joinDate}}" class="form-control" [readOnly]=true>
                </div>
            </div>
        </div>
    </div><br>
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                  <label for="name">Aktivitas Terakhir</label>
                </div>
                <div class="col-md-6">
                    <input value="{{lastActivity}}" class="form-control" [readOnly]=true>
                </div>
            </div>
        </div>
    </div><br>
</div>
<div class="modal-footer" >     
     <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Tutup</button>
</div>