<div class="modal-header">
    <h4 class="modal-title" id="modal-register">Detail Pemeriksaan</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width:5%;">Tanggal</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width:10%;">Berat</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width:10%">Panjang</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width:10%">Lingkar Kepala</th>
                    <th class="text-dark font-medium fs-4" style="text-align:center; width:50%">Catatan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fs-4" style="text-align:center">{{scheduleCheckUp.checkUpDate}}</td>
                    <td class="fs-4" style="text-align:center">{{scheduleCheckUp.weight}}</td>
                    <td class="fs-4" style="text-align:center">{{scheduleCheckUp.length}}</td>
                    <td class="fs-4" style="text-align:center">{{scheduleCheckUp.headDiameter}}</td>
                    <td class="fs-4" style="text-align:center">{{scheduleCheckUp.notes}}</td>
                </tr>              
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer" > 
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Tutup</button>&nbsp;   
</div>
