<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <!-- <h4 class="card-title">Jadwal</h4> -->
                <!-- <h5 class="card-subtitle">Jadwal Imunisasi dan Jejak Medis Anak</h5> -->
                <!-- title -->
                <!-- <br> -->
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                               <label for="name">Nama Orangtua</label>
                            </div>
                            <div class="col-md-10">
                              <ng-autocomplete  [data]="resultOflistUser" [searchKeyword]="keyword" placeholder="Masukan Nama Orang Tua"
                                (selected)='onSelectEvent($event)' (inputChanged)='onInputChanged($event)' [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                              </ng-autocomplete>
                              <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.fullname"></a>
                              </ng-template>
                              <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                              </ng-template>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="name">Nama Anak</label>
                        </div>
                        <div class="col-md-10">
                          <select [(ngModel)]="selectedChildId" class="form-control deft" (change)="onChangeChildName($event)">
                            <option value=0 disabled>-- Silahkan Pilih Nama Anak --</option>
                            <option *ngFor="let list of tempListChild" value="{{list.id}}" >{{list.fullname}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                       <div class="row">
                          <div class="col-md-2">
                             <label for="name">Jenis Jadwal</label>
                          </div>
                          <div class="col-md-10">
                            <select [(ngModel)]="selectedHistoryType" class="form-control" (change)="onChangeRecordType($event)">
                              <option value='0' disabled>-- Silahkan Pilih Jadwal --</option>
                              <option *ngFor="let type of typeSchedule" value="{{type.value}}" [disabled]="isDisabled">{{type.name}}</option>
                            </select>
                          </div>
                       </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showTable" class="card">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                      <div class="d-flex justify-content-end">
                          <button type="button" class="btn btn-success" (click)="ExportToExcel()">
                          Export Excel
                          </button>
                      </div><br>
                      <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                            <tr>
                              <th *ngFor="let i of displayedColumns">{{i}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let row of listData'>
                              <ng-container *ngFor="let p of rowTable">
                                <td *ngIf="p != 'execDate'">{{row[p]}}</td>
                                <td *ngIf="p == 'execDate' && row.execDate == null">
                                  <p style="color:red">Belum Dilakukan</p>
                                </td>
                                <td *ngIf="p == 'execDate' && row.execDate != null">
                                  <button class="btn btn-info" (click)="editData(row.data, row.flag)"><i class="bi bi-pencil-square"></i></button>&nbsp;
                                  <button class="btn btn-info" (click)="downloadPdf(row.data)"><i class="bi bi-download"></i></button>
                                </td>
                              </ng-container>
                            </tr>              
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>